/* Icon + City Names Box */
button {
    background-color: var(--primary-brown);
    border: none;
    width: 100%;
    color: var(--default-text-color);
    padding: 10px 15px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0px;
    cursor: pointer;
    font-family: var(--body-font);
}

/* plain bg color above image */
#container {
    background-color: var(--background);
    padding: 0px 30px;
    min-height: 100vh;
    width: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-width: 0px 15px;
    border-style: double;
    border-color: var(--dark-brown);
}

/* Create my trip button */
#trip {
    border: 2px solid var(--primary-brown);
    background-color: var(--secondary-brown);
    border-radius: 5px;
    color: var(--default-text-color);
    padding: 10px 15px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px 0px 10px;
    cursor: pointer;
    font-family: var(--body-font);
    width: 30%;
}