body {
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#container {
    background-color:var(--background);
    padding: 40px;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    width: 370px;
    border: var(--border-style);
}

/* SUBTEXT */
#subtext {
    text-align: center;
    font-family: var(--body-font);
    font-size: 20px;
    color: var(--dark-brown);
    margin-top: 5px;
    margin-bottom: 20px;
}

/* LOGIN TITLES - name + password */
.login-title {
    font-weight: bold;
    font-style: italic;
    margin: 10px 0px 2px 0px;
}